<h2>All Consoles</h2>

<% if Console.all.empty? %>
    <p>There are no consoles! <a href="/consoles/new">Create a Console</a></p>
<% else %>
    <% @consoles.each do |console| %>
        <p><a href="/consoles/<%= console.id %>"><%= console.name %></a>
        Manufactured by: <%= console.company %></p>
    <% end %>
<% end %>