<h2>Your Consoles</h2>

<% if Console.all.empty? %>
    <p>You have no consoles yet! <a href="/consoles/new">Create a Console</a></p>
<% else %>
    <% @consoles.each do |console| %>
        <p><a href="/consoles/<%= console.id %>"><%= console.name %></a>
        Manufactured by: <%= console.company %></p><br>
    <% end %>
<% end %>