<h2>Add New Console</h2>

<form method="post" action="/consoles">
    <label>Console Name</label>
    <input type="text" name="name"><br>
    <label>Console Company</label>
    <input type="text" name="company"><br>

    <input type="submit" value="Create Console">
</form>