<h2>Add New Console</h2>

<form method="post" action="/consoles">
    <label>Console Name</label>
    <select name="consoles">
        <option value="Nintendo DS;Nintendo DSi;Nintendo 3DS">Nintendo DS/DSi/3DS</option>
        <option value="Nintendo 64">Nintendo 64</option>
        <option value="PlayStation 3">PlayStation 3</option>
        <option value="PlayStation 4">PlayStation 4</option>
        <option value="PSP;PS Vita">PlayStation Vita/PSP</option>
        <option value="Nintendo Switch">Nintendo Switch</option>
        <option value="Wii">Wii</option>
        <option value="Wii U">Wii U</option>
        <option value="Linux;Macintosh;PC DVD;PC DVD-ROM;Windows CE;Windows PC;Windows 8 App">Windows/Mac</option>
        <option value="Xbox 360">Xbox 360</option>
        <option value="Xbox One">Xbox One</option>
        <option value="Other">Other Console</option>
    <select><br><br>
    <label>Console Company</label>
    <input type="text" name="company"><br><br>

    <input type="submit" value="Create Console">
</form>
	