<h2>Edit Console(name)</h2>

Form to post edit to console id
    <label>Console Name</label>
    <input type="text" name="name" value="Console.Name"><br>

    <input type="submit" value="Update Console">
End Form