<h2><%= @console.name %></h2>
<h4>Manufactured by: <%= @console.company %></h4>

<h3>Games</h3>

Show each Game's name and ESRB rating

<br>
<a href="/consoles/<%= @console.id %>/edit">Edit</a><br>
<br>