<h2>Welcome Back!</h2>
<h2>Login Below</h2>
<form method="post" action="/login">
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <label>Password:</label>
    <input type="text" name="password">
    <br>
    <input type="submit" value="Log In">
</form>