<h2>Add New Game</h2>

Form to post new Game
    <label>Game Name:</label>
    <input type="text" name="name"><br>

    <label>ESRB Rating:</label>
    List of ESRB Rating Options
    <br>

    <input type="submit" value="Create Game">

End Form