<h2>Edit Game.name</h2>

Form to post edit to game by id

    <label>Game Name:</label>
    <input type="text" name="name" value="current game name">

    <label>Game Rating:</label>
    Select Game's ESRB Rating (list), and show/have selected current rating

    <label>Which Console does this belong to?</label>
    Select Game's console it belongs to. Show/have selected current console it belongs to.

    <input type="submit" value="Update Game">
End Form

<form method="delete" action="/games/<%= @game.id %>/delete">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Game">
</form>
