<h2>Your Games</h2>

<% if Game.all.empty? %>
    <p>You have no games! <a href="/games/new">Create a New Game</a></p>
<% else %>
    <% @games.each do |game| %>
        <a href="/games/<%= game.id %>"><%= game.name %></a><br>
        Rating: <%= game.esrb_rating %><br>
        For the <%= game.console.name %><br><br>
    <% end %>

<% end %>
